@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    font-family: "Montserrat", sans-serif;
}

.banner_blob{
    background: url('./assets/blob.png');
    background-repeat: no-repeat;
    background-size:contain;
    background-position: left;
}
.dark_gradient {
  background: linear-gradient(#656e83dc,#656e83d8) ,url('./assets/resume_back.jpg');
  background-size: cover;
  background-repeat: repeat;
}
::-webkit-scrollbar {
    width: 10px;
  }
  
  ::-webkit-scrollbar-track {
    background-color: #f1f1f1;
  }
  
  ::-webkit-scrollbar-thumb {
    background-color: #888;
    border-radius: 10px;
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background-color: #555;
  }
  
  * {
    scrollbar-width: thin;
    scrollbar-color: #888 #f1f1f1;
  }
  

  .bg-gradient-custom {
    background: linear-gradient(to right, #fff, #ebebeb, #fff);
  }