@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "Montserrat", sans-serif;
}

.banner_blob {
  background: url("./assets/blob.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: left;
}
.dark_gradient {
  background: linear-gradient(#656e83dc, #656e83d8),
    url("./assets/resume_back.jpg");
  background-size: cover;
  background-repeat: repeat;
}
.section-gradient {
  background: linear-gradient(to right, #fff, #f3f0e7, #fff);
}
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background-color: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #555;
}

* {
  scrollbar-width: thin;
  scrollbar-color: #888 #f1f1f1;
}

.bg-gradient-custom {
  background: linear-gradient(to right, #fff, #ebebeb, #fff);
}

.loader {
  width: 60px;
  aspect-ratio: 1;
  border-radius: 50%;
  border: 8px solid lightblue;
  border-right-color: #3f75e4;
  animation: l2 1s infinite linear;
}
.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(20rem, 20rem));
  gap: 20px;
  justify-content: center;
}

.MuiInputBase-input , .MuiOutlinedInput-input {
  padding: 8px 15px!important;
  font-size: 14px!important;
}


@keyframes l2 {
  to {
    transform: rotate(1turn);
  }
}

